<a href="https://colab.research.google.com/github/bhavish-1/Regression_NeuralNetwork_Project/blob/master/Regression_NeuralNetwork_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
### learning relationship between these features () and ultimately predicting the charges

In [15]:
#importing required libraries
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [16]:
# Loading the insurance dataset
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
insurance_onehot = pd.get_dummies(insurance)
insurance_onehot.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [18]:
x.head

<bound method NDFrame.head of       age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes  \
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

      region_northeast  region_northwest  region_southeast  region_southwest
0                    0                 0                 0                 1
1                    0                 0                 1                 0
2                    0                 0                 1                 0
3                    0                 1                 0                 0
4                    0                 1                 0                 0
...                ...               ...               ...               ...
1333                 0                 1                 0                 0
1334                 1                 0                 0                 0
1335                 0                 0                 1                 0
1336                 0                 0                 0                 1
1337                 0                 1                 0                 0

[1338 rows x 11 columns]>

In [22]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [23]:
#creating the training datasets and test sets.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [29]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
ct = make_column_transformer(
    (MinMaxScaler(), ["age", "bmi", "children"]),
    (OneHotEncoder(handle_unknown="ignore"), ["sex", "smoker", "region"])
)
#creating x and y
x = insurance.drop("charges", axis=1)
y = insurance["charges"]

#buiding testsets and trainsets
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.2, random_state=42)

#Fit the column transformer to our training data
ct.fit(x_train)

#transform training and test data with normalization (MinMaxScaler) and OneHotEncoder
x_train_normal = ct.transform(x_train)
x_test_normal = ct.transform(x_test)

In [31]:
tf.random.set_seed(42)

# 1. create the model
insurance_model = tf.keras.Sequential([
    tf.keras.layers.Dense(1000),
    tf.keras.layers.Dense(100),
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])
# 2. compile the model
insurance_model.compile(loss=tf.keras.losses.mae,
                        optimizer=tf.keras.optimizers.Adam(),
                        metrics=["mae"])
# 3.fit the model
insurance_model.fit(x_train_normal, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 5ms/step - loss: 13303.1553 - mae: 13303.1553
Epoch 2/100
34/34 [==============================] - 0s 5ms/step - loss: 12620.8076 - mae: 12620.8076
Epoch 3/100
34/34 [==============================] - 0s 5ms/step - loss: 9736.9062 - mae: 9736.9062
Epoch 4/100
34/34 [==============================] - 0s 4ms/step - loss: 7884.0020 - mae: 7884.0020
Epoch 5/100
34/34 [==============================] - 0s 4ms/step - loss: 7571.4170 - mae: 7571.4170
Epoch 6/100
34/34 [==============================] - 0s 4ms/step - loss: 7237.5381 - mae: 7237.5381
Epoch 7/100
34/34 [==============================] - 0s 4ms/step - loss: 6786.6162 - mae: 6786.6162
Epoch 8/100
34/34 [==============================] - 0s 4ms/step - loss: 6169.7329 - mae: 6169.7329
Epoch 9/100
34/34 [==============================] - 0s 4ms/step - loss: 5275.5713 - mae: 5275.5713
Epoch 10/100
34/34 [==============================] - 0s 4ms/step - loss: 4267.9839 - mae: 4267.9839
Epoch 11/100
34/34 [==============================] - 0s 4ms/step - loss: 3716.2798 - mae: 3716.2798
Epoch 12/100
34/34 [==============================] - 0s 5ms/step - loss: 3654.8782 - mae: 3654.8782
Epoch 13/100
34/34 [==============================] - 0s 4ms/step - loss: 3638.3235 - mae: 3638.3235
Epoch 14/100
34/34 [==============================] - 0s 4ms/step - loss: 3639.5161 - mae: 3639.5161
Epoch 15/100
34/34 [==============================] - 0s 4ms/step - loss: 3617.4924 - mae: 3617.4924
Epoch 16/100
34/34 [==============================] - 0s 4ms/step - loss: 3603.5505 - mae: 3603.5505
Epoch 17/100
34/34 [==============================] - 0s 4ms/step - loss: 3589.0896 - mae: 3589.0896
Epoch 18/100
34/34 [==============================] - 0s 4ms/step - loss: 3562.9622 - mae: 3562.9622
Epoch 19/100
34/34 [==============================] - 0s 5ms/step - loss: 3566.9844 - mae: 3566.9844
Epoch 20/100
34/34 [==============================] - 0s 4ms/step - loss: 3543.9067 - mae: 3543.9067
Epoch 21/100
34/34 [==============================] - 0s 4ms/step - loss: 3536.6694 - mae: 3536.6694
Epoch 22/100
34/34 [==============================] - 0s 4ms/step - loss: 3516.3328 - mae: 3516.3328
Epoch 23/100
34/34 [==============================] - 0s 4ms/step - loss: 3516.5881 - mae: 3516.5881
Epoch 24/100
34/34 [==============================] - 0s 4ms/step - loss: 3506.6118 - mae: 3506.6118
Epoch 25/100
34/34 [==============================] - 0s 4ms/step - loss: 3532.1113 - mae: 3532.1113
Epoch 26/100
34/34 [==============================] - 0s 4ms/step - loss: 3488.2485 - mae: 3488.2485
Epoch 27/100
34/34 [==============================] - 0s 4ms/step - loss: 3490.9973 - mae: 3490.9973
Epoch 28/100
34/34 [==============================] - 0s 4ms/step - loss: 3498.5544 - mae: 3498.5544
Epoch 29/100
34/34 [==============================] - 0s 4ms/step - loss: 3495.7678 - mae: 3495.7678
Epoch 30/100
34/34 [==============================] - 0s 4ms/step - loss: 3505.3596 - mae: 3505.3596
Epoch 31/100
34/34 [==============================] - 0s 4ms/step - loss: 3496.9468 - mae: 3496.9468
Epoch 32/100
34/34 [==============================] - 0s 4ms/step - loss: 3509.2371 - mae: 3509.2371
Epoch 33/100
34/34 [==============================] - 0s 4ms/step - loss: 3502.6990 - mae: 3502.6990
Epoch 34/100
34/34 [==============================] - 0s 4ms/step - loss: 3484.4375 - mae: 3484.4375
Epoch 35/100
34/34 [==============================] - 0s 4ms/step - loss: 3495.6431 - mae: 3495.6431
Epoch 36/100
34/34 [==============================] - 0s 4ms/step - loss: 3502.4639 - mae: 3502.4639
Epoch 37/100
34/34 [==============================] - 0s 4ms/step - loss: 3492.1960 - mae: 3492.1960
Epoch 38/100
34/34 [==============================] - 0s 4ms/step - loss: 3498.8013 - mae: 3498.8013
Epoch 39/100
34/34 [==============================] - 0s 4ms/step - loss: 3485.8284 - mae: 3485.8284
Epoch 40/100
34/34 [==============================] - 0s 4ms/step - loss: 3518.0312 - mae: 3518.0312
Epoch 41/100
34/34 [==============================] - 0s 4ms/step - loss: 3501.5481 - mae: 3501.5481
Epoch 42/100
34/34 [==============================] - 0s 4ms/step - loss: 3495.4202 - mae: 3495.4202
Epoch 43/100
34/34 [==============================] - 0s 4ms/step - loss: 3493.1011 - mae: 3493.1011
Epoch 44/100
34/34 [==============================] - 0s 4ms/step - loss: 3483.6096 - mae: 3483.6096
Epoch 45/100
34/34 [==============================] - 0s 4ms/step - loss: 3480.1458 - mae: 3480.1458
Epoch 46/100
34/34 [==============================] - 0s 4ms/step - loss: 3489.3745 - mae: 3489.3745
Epoch 47/100
34/34 [==============================] - 0s 3ms/step - loss: 3495.3250 - mae: 3495.3250
Epoch 48/100
34/34 [==============================] - 0s 4ms/step - loss: 3491.2913 - mae: 3491.2913
Epoch 49/100
34/34 [==============================] - 0s 4ms/step - loss: 3503.7869 - mae: 3503.7869
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 3489.9761 - mae: 3489.9761
Epoch 51/100
34/34 [==============================] - 0s 4ms/step - loss: 3479.3772 - mae: 3479.3772
Epoch 52/100
34/34 [==============================] - 0s 4ms/step - loss: 3487.8210 - mae: 3487.8210
Epoch 53/100
34/34 [==============================] - 0s 4ms/step - loss: 3483.3218 - mae: 3483.3218
Epoch 54/100
34/34 [==============================] - 0s 4ms/step - loss: 3508.4812 - mae: 3508.4812
Epoch 55/100
34/34 [==============================] - 0s 4ms/step - loss: 3516.4075 - mae: 3516.4075
Epoch 56/100
34/34 [==============================] - 0s 4ms/step - loss: 3487.3972 - mae: 3487.3972
Epoch 57/100
34/34 [==============================] - 0s 4ms/step - loss: 3487.3945 - mae: 3487.3945
Epoch 58/100
34/34 [==============================] - 0s 4ms/step - loss: 3483.6479 - mae: 3483.6479
Epoch 59/100
34/34 [==============================] - 0s 4ms/step - loss: 3487.5461 - mae: 3487.5461
Epoch 60/100
34/34 [==============================] - 0s 4ms/step - loss: 3492.1519 - mae: 3492.1519
Epoch 61/100
34/34 [==============================] - 0s 4ms/step - loss: 3496.8442 - mae: 3496.8442
Epoch 62/100
34/34 [==============================] - 0s 4ms/step - loss: 3492.7048 - mae: 3492.7048
Epoch 63/100
34/34 [==============================] - 0s 4ms/step - loss: 3485.3135 - mae: 3485.3135
Epoch 64/100
34/34 [==============================] - 0s 4ms/step - loss: 3492.4810 - mae: 3492.4810
Epoch 65/100
34/34 [==============================] - 0s 4ms/step - loss: 3484.5872 - mae: 3484.5872
Epoch 66/100
34/34 [==============================] - 0s 4ms/step - loss: 3506.3267 - mae: 3506.3267
Epoch 67/100
34/34 [==============================] - 0s 4ms/step - loss: 3485.6016 - mae: 3485.6016
Epoch 68/100
34/34 [==============================] - 0s 4ms/step - loss: 3491.5703 - mae: 3491.5703
Epoch 69/100
34/34 [==============================] - 0s 4ms/step - loss: 3482.9568 - mae: 3482.9568
Epoch 70/100
34/34 [==============================] - 0s 4ms/step - loss: 3490.2578 - mae: 3490.2578
Epoch 71/100
34/34 [==============================] - 0s 4ms/step - loss: 3490.2087 - mae: 3490.2087
Epoch 72/100
34/34 [==============================] - 0s 4ms/step - loss: 3491.4231 - mae: 3491.4231
Epoch 73/100
34/34 [==============================] - 0s 4ms/step - loss: 3498.8987 - mae: 3498.8987
Epoch 74/100
34/34 [==============================] - 0s 4ms/step - loss: 3490.7129 - mae: 3490.7129
Epoch 75/100
34/34 [==============================] - 0s 4ms/step - loss: 3483.7959 - mae: 3483.7959
Epoch 76/100
34/34 [==============================] - 0s 4ms/step - loss: 3488.1504 - mae: 3488.1504
Epoch 77/100
34/34 [==============================] - 0s 4ms/step - loss: 3483.4763 - mae: 3483.4763
Epoch 78/100
34/34 [==============================] - 0s 4ms/step - loss: 3491.4080 - mae: 3491.4080
Epoch 79/100
34/34 [==============================] - 0s 4ms/step - loss: 3490.0779 - mae: 3490.0779
Epoch 80/100
34/34 [==============================] - 0s 4ms/step - loss: 3501.3376 - mae: 3501.3376
Epoch 81/100
34/34 [==============================] - 0s 4ms/step - loss: 3496.0215 - mae: 3496.0215
Epoch 82/100
34/34 [==============================] - 0s 4ms/step - loss: 3490.3652 - mae: 3490.3652
Epoch 83/100
34/34 [==============================] - 0s 4ms/step - loss: 3488.3005 - mae: 3488.3005
Epoch 84/100
34/34 [==============================] - 0s 4ms/step - loss: 3492.1240 - mae: 3492.1240
Epoch 85/100
34/34 [==============================] - 0s 4ms/step - loss: 3481.3301 - mae: 3481.3301
Epoch 86/100
34/34 [==============================] - 0s 4ms/step - loss: 3482.7209 - mae: 3482.7209
Epoch 87/100
34/34 [==============================] - 0s 4ms/step - loss: 3492.2324 - mae: 3492.2324
Epoch 88/100
34/34 [==============================] - 0s 4ms/step - loss: 3491.0354 - mae: 3491.0354
Epoch 89/100
34/34 [==============================] - 0s 4ms/step - loss: 3487.7869 - mae: 3487.7869
Epoch 90/100
34/34 [==============================] - 0s 4ms/step - loss: 3491.6045 - mae: 3491.6045
Epoch 91/100
34/34 [==============================] - 0s 4ms/step - loss: 3485.2971 - mae: 3485.2971
Epoch 92/100
34/34 [==============================] - 0s 5ms/step - loss: 3500.8167 - mae: 3500.8167
Epoch 93/100
34/34 [==============================] - 0s 4ms/step - loss: 3486.4385 - mae: 3486.4385
Epoch 94/100
34/34 [==============================] - 0s 4ms/step - loss: 3486.8345 - mae: 3486.8345
Epoch 95/100
34/34 [==============================] - 0s 4ms/step - loss: 3486.9900 - mae: 3486.9900
Epoch 96/100
34/34 [==============================] - 0s 4ms/step - loss: 3489.6211 - mae: 3489.6211
Epoch 97/100
34/34 [==============================] - 0s 5ms/step - loss: 3501.8918 - mae: 3501.8918
Epoch 98/100
34/34 [==============================] - 0s 4ms/step - loss: 3480.4983 - mae: 3480.4983
Epoch 99/100
34/34 [==============================] - 0s 4ms/step - loss: 3507.1145 - mae: 3507.1145
Epoch 100/100
34/34 [==============================] - 0s 4ms/step - loss: 3493.5930 - mae: 3493.5930

In [32]:
insurance_model.evaluate(x_test_normal, y_test)

9/9 [==============================] - 0s 3ms/step - loss: 3172.1934 - mae: 3172.1934

[3172.193359375, 3172.193359375]

In [33]:
insurance_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 1000)              12000

 dense_4 (Dense)             (None, 100)               100100

 dense_5 (Dense)             (None, 10)                1010

 dense_6 (Dense)             (None, 1)                 11

=================================================================
Total params: 113,121
Trainable params: 113,121
Non-trainable params: 0
_________________________________________________________________